body {
  font-family: Arial, sans-serif;
  background-color: gray;
  margin: 0;
  padding: 0;
}

header {
  background-color: white;
  color: black;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: black;
  padding: 10px;
}

nav ul li {
  margin-right: 20px;
}

nav ul li.right {
  margin-left: auto;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: white;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  max-height: fit-content;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.form-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.form-row label {
  flex: 1;
  text-align: right;
  margin-right: 10px;
}

.form-row input[type="number"],
.form-row select {
  flex: 2;
}

.unit-selector {
  flex: 1;
  margin-left: 5px;
}

button {
  margin: 5px;
  padding: 10px 20px;
  border: none;
  background-color: black;
  color: white;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

button:hover {
  background-color: #45a049;
}

.form-container {
  display: block;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.form-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.form-row label {
  width: 40%;
  text-align: left;
}

.form-row input[type="number"],
.form-row select {
  width: 60%;
}

#meal-plan-container {
  display: none; /* You can remove this line if you're toggling visibility with JavaScript */
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}

.form-container label,
.form-container .unit-selector {
  display: inline-block;
  width: 30%;
  text-align: left;
  vertical-align: top;
}

.form-container input[type="number"],
.form-container select:not(.unit-selector) {
  display: inline-block;
  width: 60%;
  vertical-align: top;
}

.unit-selector {
  display: inline-block;
  width: 10%;
  vertical-align: top;
}
