body {
  font-family: Arial, sans-serif;
  background-color: gray;
  margin: 0;
  padding: 0;
}

header {
  background-color: white;
  color: black;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: black;
  padding: 10px;
}

nav ul li {
  margin-right: 20px;
}

nav ul li.right {
  margin-left: auto;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: white;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  max-height: fit-content;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.form-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.form-row label {
  flex: 1;
  text-align: right;
  margin-right: 10px;
}

.form-row input[type="number"],
.form-row select {
  flex: 2;
}

.unit-selector {
  flex: 1;
  margin-left: 5px;
}

button {
  margin: 5px;
  padding: 10px 20px;
  border: none;
  background-color: black;
  color: white;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

button:hover {
  background-color: #45a049;
}

.form-container {
  display: block;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.form-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.form-row label {
  width: 40%;
  text-align: left;
}

.form-row input[type="number"],
.form-row select {
  width: 60%;
}

#meal-plan-container {
  display: none;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: left;
}

.form-container label,
.form-container .unit-selector {
  display: inline-block;
  width: 30%;
  text-align: left;
  vertical-align: top;
}

.form-container input[type="number"],
.form-container select:not(.unit-selector) {
  display: inline-block;
  width: 60%;
  vertical-align: top;
}

.unit-selector {
  display: inline-block;
  width: 10%;
  vertical-align: top;
}

.loading-spinner {
  display: none;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

#loading-spinner {
  display: none; /* Initially hidden */
  position: fixed; /* Fixed position */
  left: 50%; /* Center horizontally */
  top: 50%; /* Center vertically */
  transform: translate(-50%, -50%); /* Adjust for accurate centering */
  z-index: 9999; /* Make it appear on top */
  filter: none;
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

body.blur-overlay {
  filter: blur(5px);
}

.blur-overlay {
  background: rgba(255, 255, 255, 0.8); /* Semi-white background */
  display: block; /* Remove 'display: none;' */
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9998; /* High z-index */
}

.blur-content {
  filter: blur(5px);
  transition: filter 0.3s ease;
}

#meal-plan ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#meal-plan li {
  display: inline;
}
