body {
  font-family: Arial, sans-serif;
  background-color: gray;
  margin: 0;
  padding: 0;
}

header {
  background-color: white;
  color: black;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: black;
  padding: 10px;
}

nav ul li {
  margin-right: 20px;
}

nav ul li.right {
  margin-left: auto;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: white;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  max-height: fit-content;
}

.form-container {
  text-align: center;
  margin-bottom: 20px;
}

label {
  margin-right: 10px;
}

input[type="number"],
select {
  margin: 5px;
  padding: 10px;
  font-size: 1em;
}

button {
  margin: 5px;
  padding: 10px 20px;
  border: none;
  background-color: #4CAF50;
  color: white;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

#meal-plan {
  text-align: center;
  margin-top: 20px;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 20px auto;
}

.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.individual-chart {
  flex: 1;
  max-width: 50%;
  margin: 10px;
  padding: 10px;
}

.chart-container {
  max-width: 100%;
  height: auto;
}

